* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 4rem;
    text-align: center;
    padding: 0.5em;
}

h2 {
    border: 2px dashed blue;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

main {
    width: 50%;

}

body{
    min-height: 100vh;
}

p {
    font-size: 2rem;
    width: 40ch;
}

